{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user.renderCivilite }} {{ user.prenom }} {{ user.nom }} </h1>
    
    <h4>{{ user.email }}</h4>

{% if information %}
    <p>{{ information.accroche  }}</p>
    <p>{{ information.description  }}</p>
    <p>{{ information.codepostal  }} {{ information.ville  }}</p>
    <p>{{ information.site  }}</p>
    <p>{{ information.linkedin  }}</p>
{% endif %}

{% for metier in user.metier %}
    <p>{{ metier.nom }}</p>
{% endfor %}

{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user == user %}
    <a href="{{ path('user_edit_info') }}" class="btn btn-primary">modifier mon profil</a>
    <a href="{{ path('user_edit_metier') }}" class="btn btn-primary">modifier mes metiers</a>
{% endif %}

</div>
{% endblock %}
